.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__item {

    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--tablet--#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 6 {
      @for $end from $start through 12 {
        &--desktop--#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  &--desktop {
    display: block;
  }
}
